{% extends "adminbase.html" %}
{% load static %}
{% load humanize %}
{% block title %}
{{Title}}
{% endblock title %}
{% block container%}
<div class="page-wrapper">
    <!-- breadcrumb -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Dashboard</h4>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Three charts -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    
                    <h3 class="box-title">Main Balance ({% if acct %} {{ acct.currency }} {% endif %})</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        {% if acct %}
                        <li class="ms-auto"><span class="counter text-success">{{ acct.balance }}</span></li>
                        {% else %}
                        <li class="ms-auto"><span class="counter text-success">0.00</span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Total Credit</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash2"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><span class="counter text-purple">0.00</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Total Debit</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash3"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><span class="counter text-info">0.00</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- RECENT SALES -->
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="d-md-flex mb-3">
                        <h3 class="box-title mb-0">Recent Transaction</h3>
                        <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                            <select class="form-select shadow-none row border-top">
                                <option>March 2023</option>
                                <option>April 2021</option>
                            </select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table no-wrap">
                            {% if trans %}
                                <thead>
                                    <tr>
                                        <th class="border-top-0">S/N</th>
                                        <th class="border-top-0">Sender</th>
                                        <th class="border-top-0">Receiver</th>
                                        <th class="border-top-0">Amount</th>
                                        <th class="border-top-0">Type</th>
                                        <th class="border-top-0">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in trans %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td class="txt-oflo">{{transaction.Initiator}}</td>
                                            <td>{{transaction.Receiver}}</td>
                                            <td class="txt-oflo">{{transaction.amount | intcomma}}</td>
                                            {% if transaction.Initiator == request.user %}
                                                <td><span class="badge bg-danger rounded">{{transaction.Initiator_type}}</span></td>
                                            {% else %}
                                                <td><span class="badge bg-success rounded">{{transaction.Receiver_type}}</span></td>
                                            {% endif %}
                                            <td><span class="badge bg-success rounded">{{transaction.Transaction_status}}</span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            {% else %}
                                <h4 align="center"> No Recent Transaction </h4>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Recent Comments -->
        <div class="row">
            <!-- .col -->
            <div class="col-md-12 col-lg-9 col-sm-12">
                <div class="card white-box p-0">
                    <div class="card-body">
                        <h3 class="box-title mb-0">Payment Request</h3>
                    </div>
                    <div class="comment-widgets">
                        <div class="table-responsive">
                            <table class="table no-wrap">
                                {% if payments %}
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">S/N</th>
                                            <th class="border-top-0">Initiator</th>
                                            <th class="border-top-0">Payer</th>
                                            <th class="border-top-0">Amount</th>
                                            <th class="border-top-0">Status</th>
                                            <th class="border-top-0">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for payment in payments %}
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                <td class="txt-oflo">{{payment.Initiator}}</td>
                                                <td>{{payment.Payer}}</td>
                                                <td class="txt-oflo">{{payment.amount | intcomma}}</td>
                                                {% if payment.Transaction_status == 'Pending' %}
                                                    <td><span class="badge bg-primary rounded">{{payment.Transaction_status}}</span></td>
                                                {% elif payment.Transaction_status == 'Rejected' %}
                                                    <td><span class="badge bg-danger rounded">{{payment.Transaction_status}}</span></td>
                                                {% else %}
                                                    <td><span class="badge bg-success rounded">{{payment.Transaction_status}}</span></td>
                                                {% endif %}
                                                {% if request.user == payment.Payer %}
                                                    <td><span class="btn btn-danger"><a href="{% url 'reject_payment' payment.Request_id %}" class="text-white">Decline</a></span><br><span class="btn btn-success"><a href="{% url 'payment' payment.Request_id %}" class="text-white">Approve</a></span></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                {% else %}
                                    <h4 align="center"> No Recent Transaction </h4>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12">
                <div class="card white-box p-0">
                    <div class="card-heading">
                        <h3 class="box-title mb-0">Payment Request Listing</h3>
                    </div>
                    <div class="card-body">
                        <ul class="chatonline">
                            {% if chats %}
                                {% for chat in chats %}
                                    <li>
                                        <a href="javascript:void(0)" class="d-flex align-items-center"><img
                                                src="{% static 'plugins/images/users/varun.jpg' %}" alt="user-img" class="img-circle">
                                            <div class="ms-2">
                                                <span class="text-dark">{{chat.Payer}}
                                                    <small class="d-block text-dark d-block">{{chat.payment_note}}</small>
                                                    {% if chat.Transaction_status == 'Rejected' %}
                                                        <small class="d-block text-danger d-block">{{chat.Transaction_status}}</small>
                                                    {% else %}
                                                        <small class="d-block text-success d-block">{{chat.Transaction_status}}</small>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <h5> No message </h5>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
{% endblock container%}