{% extends "adminbase.html" %}
{% load static %}
{% load humanize %}
{% block title %}
{{Title}}
{% endblock title %}
{% block container %}
        <!-- Page wrapper  -->
<div class="page-wrapper">
    <!-- Bread crumb and right sidebar toggle -->
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Profile page</h4>
            </div>
        </div>
    </div>
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-12">
                <div class="white-box">
                    <div class="user-bg"> <img width="100%" alt="user" src="{% static 'plugins/images/large/img1.jpg' %}">
                        <div class="overlay-box">
                            <div class="user-content">
                                <a href="javascript:void(0)"><img src="{% static 'plugins/images/users/genu.jpg' %}"
                                        class="thumb-lg img-circle" alt="img"></a>
                                <h4 class="text-white mt-2">User Name</h4>
                                <h5 class="text-white mt-2">{{ request.user }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal form-material">
                            {% csrf_token %}
                            <div class="form-group mb-4">
                                <label class="col-sm-12" for="{{ form.currency.id_for_label }}">Select Currency</label>
                                <div class="col-sm-12 border-bottom">
                                    {{ form.currency }}
                                    <!-- <select name="currency" class="form-select shadow-none p-0 border-0 form-control-line">
                                        <option value="GBP">GBP</option>
                                        <option value="EUR">EURO</option>
                                        <option value="USD">USD</option>
                                    </select> -->
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0" for="{{ form.pin.id_for_label }}">Account Pin</label>
                                <div class="col-md-12 border-bottom p-0">
                                    {{ form.pin }}
                                    <!-- <input type="text" name="pin" placeholder="Pin" class="form-control p-0 border-0"> -->
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0" for="{{ form.phone_number.id_for_label }}">Phone Number</label>
                                <div class="col-md-12 border-bottom p-0">
                                    {{ form.phone_number }}
                                    <!-- <input type="text" name="phone_number" placeholder="Phone Number"
                                        class="form-control p-0 border-0"> -->
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0" for="{{ form.address.id_for_label }}">Address</label>
                                <div class="col-md-12 border-bottom p-0">
                                    {{ form.address }}
                                    <!-- <input type="text" name="address" placeholder="Address"
                                        class="form-control p-0 border-0"> -->
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0" for="{{ form.profile_pix.id_for_label }}">Profile Picture</label>
                                <div class="col-md-12 border-bottom p-0">
                                    {{ form.profile_pix }}
                                    <!-- <input type="file" name="" placeholder="Address"
                                        class="form-control p-0 border-0"> -->
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="col-sm-12">
                                    <button class="btn btn-success" type="submit">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock container %}